/*
  Icon Font: iconfont
*/

@font-face {
  font-family: "iconfont";
  src: url("./iconfont.eot");
  src: url("./iconfont.eot?#iefix") format("embedded-opentype"),
       url("./iconfont.woff") format("woff"),
       url("./iconfont.ttf") format("truetype"),
       url("./iconfont.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "iconfont";
    src: url("./iconfont.svg#iconfont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-agenda:before,
.icon-auditorium-marker:before,
.icon-close:before,
.icon-conference-talk:before,
.icon-facebook:before,
.icon-kakao-story:before,
.icon-mail:before,
.icon-menu:before,
.icon-mic:before,
.icon-sponsors:before,
.icon-twitter:before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-agenda:before { content: "\f100"; }
.icon-auditorium-marker:before { content: "\f101"; }
.icon-close:before { content: "\f10a"; }
.icon-conference-talk:before { content: "\f102"; }
.icon-facebook:before { content: "\f103"; }
.icon-kakao-story:before { content: "\f104"; }
.icon-mail:before { content: "\f105"; }
.icon-menu:before { content: "\f106"; }
.icon-mic:before { content: "\f107"; }
.icon-sponsors:before { content: "\f108"; }
.icon-twitter:before { content: "\f109"; }
