#auditorium {
    position: relative;
    @include container(100%);
    width: 100%;
    @include backImage('../images/auditorium.jpg');
    // iOS background-attachment Fixed not working.. so, change scrolling
    @media screen and (max-device-width: 1024px){
        background-attachment: scroll;
    }
    background-attachment: fixed;
    text-align: center;
    position: static;
    padding: 140px 0 340px 0;
    .auditorium__container {
        @include clearfix;
        padding: 0 15px;
        margin: 0 auto;
        

        @include breakpoint((max-width: 767px)) {
            width: 100%;
        }
        width: 480px;
        
        
        .auditorium__container__row {
            margin: 0 -15px;
            @include clearfix;
            .auditorium__container__row__box {
                padding: 30px 40px;
                background-color: $white;
                display: block;

                .auditorium__icon {
                    margin-bottom: 20px;
                    @include font-size(40px);
                    display: block;
                } // auditorium__icon
                .auditorium__title {
                    margin-bottom: 20px;
                    h3 {
                        @include font-size(19px);
                        font-family: 'Montserrat-Regular';
                        text-transform: uppercase;
                    } // h3
                    span {
                        @include font-size(13px);
                        font-style: italic;
                        text-transform: capitalize;
                        color: $lightgrey;
                        margin-top: 5px;
                        display: block;
                    } // span
                } // auditorium__title
                .auditorium__address {
                    margin-bottom: 20px;
                    @include font-size(16px);
                    font-style: italic;
                } // auditorium__address
                .auditorium__call {
                    margin-bottom: 20px;
                    @include font-size(14px);
                } // auditorium__call
                .auditorium__email {
                    margin-bottom: 20px;
                    @include font-size(12px);
                } //auditorium__email
            } // auditorium__container__row__box
        } // auditorium__container__row
    } // auditorium__container
}
